.swiper-pagination-bullet-active {
  background-color: #181818;
  height: 9px;
  width: 9px;
  margin: auto;
}

/* 
.swiper-pagination-bullet {
  background-color: #fbfbfb !important;
  height: 7px;
  width: 7px;
}
  */
